<mat-toolbar color="primary"> 
 <span class="mat-title" routerLink="/" style="cursor: pointer;"><mat-icon>headphones</mat-icon> Your Playlist</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/"><mat-icon>home</mat-icon>Home Page</a>
  <a mat-button routerLink="/add"><mat-icon>add</mat-icon>Add a New Song</a>
  <a mat-button routerLink="/songs"><mat-icon>list</mat-icon>All Songs</a>
  <a mat-button routerLink="/favorites"><mat-icon>favorite</mat-icon>Favorites</a>
</mat-toolbar>
